<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="user/user_base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Dashboard Page</title>
</head>
<body>

	<section>

		<div class="container settingDiv">
			<div class="card">
				<div class="card-body">

					<div class="mainNavbar">
						<div class="bar"><h5>Change Password</h5></div>
						<div class="arrow">
							<a th:href="@{/user/change-password}"> <i
								class="fas fa-arrow-right"></i>
							</a>
						</div>
					</div>
					
					<div class="mainNavbar">
						<div class="bar"><h5>Update Profile</h5></div>
						<div class="arrow">
							<a th:href="@{/user/user-update-profile}"> <i
								class="fas fa-arrow-right"></i>
							</a>
						</div>
					</div>
					
					<div class="mainNavbar">
						<div class="bar"><h5>Delete Account</h5></div>
						<div class="arrow">
							<a href="your_destination_url.html"> <i
								class="fas fa-arrow-right"></i>
							</a>
						</div>
					</div>
					
					
					
				</div>
			</div>
		</div>

	</section>

</body>
</html>