<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="user/user_base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Update Contact Page</title>
</head>
<body>

	<section>

		<div class="card">
			<div class="card-body">
				<h3 class="text-center heading">Update Contact</h3>
				<div class="container-fluid mt-4">
					<div class="row">
						<div class="col-md-10 offset-md-1">
							<form th:action="@{/user/updateContactForm}" method="POST"
								th:object="${contact}" enctype="multipart/form-data"
								class="mt-2">
								<input type="hidden" name="cId" th:value="${contact.cId}" />
								<div class="col-auto">
									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fa-regular fa-user"></i></div>
										</div>
										<input type="text" th:value="${contact.name}" name="name" class="form-control"
											id="inlineFormInputGroup" placeholder="Enter Name">
									</div>
								</div>
								<div class="col-auto">

									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fa-regular fa-plus"></i></div>
										</div>
										<input type="text" th:value="${contact.nickName}" name="nickName" class="form-control"
											id="inlineFormInputGroup" placeholder="Enter Nickname">
									</div>
								</div>
								<div class="col-auto">

									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fa-regular fa-envelope"></i></div>
										</div>
										<input type="email" th:value="${contact.email}" name="email" class="form-control"
											id="inlineFormInputGroup" placeholder="Enter Email">
									</div>
								</div>
								<div class="col-auto">

									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fa-solid fa-briefcase"></i></div>
										</div>
										<input type="text" th:value="${contact.work}" name="work" class="form-control"
											id="inlineFormInputGroup" placeholder="Enter Work">
									</div>
								</div>
								<div class="col-auto">

									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fa-solid fa-phone"></i></div>
										</div>
										<input type="text" th:value="${contact.phone}" name="phone" class="form-control"
											id="inlineFormInputGroup" placeholder="Enter Phone">
									</div>
								</div>
								<div class="col-auto">

									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fa-brands fa-linkedin"></i></div>
										</div>
										<input type="text" th:value="${contact.linkedin}" name="linkedin" class="form-control"
											id="inlineFormInputGroup" placeholder="Enter Linkedin ID">
									</div>
								</div>
								<div class="col-auto">

									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fa-brands fa-instagram"></i></div>
										</div>
										<input type="text" th:value="${contact.instagram}" name="instagram" class="form-control"
											id="inlineFormInputGroup" placeholder="Enter Instagram ID">
									</div>
								</div>
								<div class="col-auto">

									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fa-brands fa-whatsapp"></i></div>
										</div>
										<input type="text" th:value="${contact.whatsapp}" name="whatsapp" class="form-control"
											id="inlineFormInputGroup" placeholder="Enter Whatsapp">
									</div>
								</div>
								<div class="custom-file mb-3">
									<input type="file" name="profileImage" />
								</div>
								<div class="container text-center mb-3">
									<button type="submit" class="btn btn-warning">Update Contact</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

</body>
</html>